**/classes
**/target
**/.artifacts
**/.cpcache
**/.DS_Store
**/.gradle

settings.xml
pom.xml

devbox.json
devbox.lock

.envrc
.env.local



# nrepl
.nrepl-port

# clojure-lsp
.lsp/.cache

.clj-kondo/

.dir-locals.el
