{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}

        dev.onionpancakes/chassis {:mvn/version "1.0.365"}
        fi.metosin/muuntaja-charred {:mvn/version "0.6.11"}
        integrant/integrant {:mvn/version "1.0.1"}
        metosin/malli {:mvn/version "0.20.0"}
        metosin/reitit {:mvn/version "0.9.2"}
        metosin/reitit-dev {:mvn/version "0.9.2"}
        metosin/reitit-middleware {:mvn/version "0.9.2"}
        com.cnuernber/charred {:mvn/version "1.037"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}
        ring/ring-anti-forgery {:mvn/version "1.4.0"}
        ring/ring-core {:mvn/version "1.15.3"}
        ring/ring-devel {:mvn/version "1.15.3"}
        ring/ring-jetty-adapter {:mvn/version "1.15.3"}}
 :aliases {:dev {:extra-paths ["development/src"]
                 :extra-deps {com.taoensso/telemere {:mvn/version "1.2.0"}
                              com.taoensso/telemere-slf4j {:mvn/version "1.2.0"}}
                 ;; OmitStackTraceInFastThrow add stacktraces when running in a
                 ;; repl that might otherwise have been optimized out, see
                 ;; https://docs.cider.mx/cider/troubleshooting.html#empty-java-stacktraces
                 :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}

           ;; clojure -M:test
           :test {:extra-paths ["test"]
                  :extra-deps {com.gfredericks/test.chuck {:mvn/version "0.2.15"}
                               lambdaisland/kaocha {:mvn/version "1.91.1392"}
                               nubank/matcher-combinators {:mvn/version "3.9.2"}
                               org.clojure/test.check {:mvn/version "1.1.2"}
                               peridot/peridot {:mvn/version "0.5.4"}
                               tortue/spy {:mvn/version "2.15.0"}}
                  :main-opts ["-m" "kaocha.runner"]}

           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.11"}
                          slipset/deps-deploy {:mvn/version "0.2.2"}}
                   :ns-default build}

           ;; clojure -M:clj-kondo
           :clj-kondo {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2025.10.23"}}
                       :main-opts ["-m" "clj-kondo.main"]}

           ;; clojure -M:cljfmt check|fix
           :cljfmt {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.15.6"}}
                    :main-opts ["-m" "cljfmt.main"]}}}
