{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}

        dev.onionpancakes/chassis {:mvn/version "1.0.365"}
        info.sunng/ring-jetty9-adapter {:mvn/version "0.35.1"}
        integrant/integrant {:mvn/version "0.13.1"}
        metosin/malli {:mvn/version "0.17.0"}
        metosin/reitit {:mvn/version "0.7.2"}
        metosin/reitit-dev {:mvn/version "0.7.2"}
        metosin/reitit-middleware {:mvn/version "0.7.2"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}
        ring/ring-anti-forgery {:mvn/version "1.4.0"}
        ring/ring-core {:mvn/version "1.13.0"}
        ring/ring-devel {:mvn/version "1.13.0"}}
 :aliases {:dev {:extra-paths ["development/src"]
                 :extra-deps {com.taoensso/telemere {:mvn/version "1.0.0-RC1"}
                              com.taoensso/telemere-slf4j {:mvn/version "1.0.0-RC1"}}
                 ;; OmitStackTraceInFastThrow add stacktraces when running in a
                 ;; repl that might otherwise have been optimized out, see
                 ;; https://docs.cider.mx/cider/troubleshooting.html#empty-java-stacktraces
                 :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}

           ;; clojure -M:test
           :test {:extra-paths ["test"]
                  :extra-deps {com.gfredericks/test.chuck {:mvn/version "0.2.14"}
                               lambdaisland/kaocha {:mvn/version "1.89.1380"}
                               nubank/matcher-combinators {:mvn/version "3.9.1"}
                               org.clojure/test.check {:mvn/version "1.1.1"}
                               peridot/peridot {:mvn/version "0.5.4"}
                               tortue/spy {:mvn/version "2.15.0"}}
                  :main-opts ["-m" "kaocha.runner"]}

           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}
                          slipset/deps-deploy {:mvn/version "0.2.2"}}
                   :ns-default build}

           ;; clojure -M:clj-kondo
           :clj-kondo {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.09.27"}}
                       :main-opts ["-m" "clj-kondo.main"]}

           ;; clojure -M:cljfmt check|fix
           :cljfmt {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.13.0"}}
                    :main-opts ["-m" "cljfmt.main"]}}}
